[Unit]
Description=Runs auto-battery-notify every minute

[Timer]
OnBootSec=1min      
OnUnitActiveSec=1m  
Unit=auto-battery-notify.service

[Install]
WantedBy=timers.target