[Unit]
Description=Battery Notification D-Bus Listener
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/battery-notify --daemon
Restart=on-failure

[Install]
WantedBy=default.target